# template.nginx

# configuration of the server
server {
    # the port your site will be served on
    listen      80;

    # Compression config
    gzip on;
    #gzip_min_length 1000;
    gzip_buffers 4 32k;
    gzip_proxied any;
    gzip_types text/plain application/javascript application/x-javascript text/javascript text/xml text/css application/json;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

#    # the domain name it will serve for
    server_name r9cop.itgis.innovateteam.com
    charset     utf-8;

    root /usr/share/nginx/html;
    index index.html;
    location /r9widgets {
      autoindex on;
    }
    location /r9cop {
      autoindex on;
    }
}
