.widget-popuppanel-setting{
  margin:0;
  padding:0;
  font-size:15px;
}

.widget-popuppanel-setting .setting-table > thead > tr > th,.widget-popuppanel-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.widget-popuppanel-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: left;
  padding-right:15px;
  position: relative;
}

.widget-popuppanel-setting .input-table > tbody > tr > .first .cb,.cb-label{
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding-left: 5px;
}

.widget-popuppanel-setting .input-table > tbody > tr > .first .inputs-label{
  min-width: 150px;
  padding-right: 20px;
  display: inline-block;
}

.widget-popuppanel-setting .input-table > tbody > tr > .first .config-group{
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  min-width: 200px;
}

.widget-popuppanel-setting .input-table > tbody > tr > .second{
  width:200px;
}

.widget-popuppanel-setting .input-table > tbody > tr > .third{
  width:35px;
}

.widget-popuppanel-setting .corner-section .position-items{
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  font-size: 10px;
}
.widget-popuppanel-setting .corner-section .position-item {
  text-align: center;
  color: #596679;
}
.widget-popuppanel-setting .corner-section .position-item label {
  font-size: 14px;
  vertical-align: middle;
}
.widget-popuppanel-setting .corner-section .position-item:first-child{
  margin-left: 0;
}
.jimu-rtl .position-item:first-child {
  margin-left: 2em;
  margin-right: 0;
}

.widget-popuppanel-setting .corner-section .jimu-leading-margin2{
  margin-left: 1em;
}
.jimu-rtl .widget-popuppanel-setting .corner-section .jimu-leading-margin2{
  margin-left: 0;
  margin-right: 1em;
}

.widget-popuppanel-setting .corner-section .position-item-image{
  position: relative;
  width: 226px;
  height: 150px;
  margin-bottom: 10px;
}
.widget-popuppanel-setting .jimu-radio {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.widget-popuppanel-setting .jimu-radio-inner{
  width: 8px;
  height: 8px;
}
.widget-popuppanel-setting .position-item .position-top{
  background: url(images/top.png);
}
.widget-popuppanel-setting .position-item .position-bottom{
  background: url(images/bottom.png);
}
