
td.quantity {
    text-align: right;
    padding-left: 10px;
}

td.nested {
    padding-left: 10px;
}


tr > td.quantity {
    padding-left: 10px !important;
}

div.modal.jimu-outline-inside.fade.show {
    overflow: auto;
}

.modal-open .modal {
    overflow: auto !important;
}

.modal {
    position: fixed !important;
    inset: 0px !important;
    z-index: 1050 !important;
}

[class*="modal"] {
    overflow: auto !important;
}

#summaryLink {
    padding: 0;
    border: none;
}

#backLink {
    padding: 0;
    border: none;
}

div[role=row]:hover {
    cursor: pointer;
}

Button:hover {
    cursor: pointer;
}
