
td.quantity {
    text-align: right;
    padding-left: 10px;
}

td.nested {
    padding-left: 10px;
}


tr > td.quantity {
    padding-left: 10px !important;
}

/*td {*/
/*    padding-left: 10px !important;*/
/*}*/

div.modal.jimu-outline-inside.fade.show {
    overflow: auto;
}

.modal-open .modal {
    overflow: auto !important;
}

[class*="modal"] {
    overflow: auto !important;
}

#summaryLink {
    padding: 0;
    border: none;
}

#backLink {
    padding: 0;
    border: none;
}

div[role=dialog] {
    inset: 0 0 auto auto !important;
    width: 360px;
    height: auto;
    padding: 0;
    margin: auto;
    z-index: 5;
    position: absolute;
    opacity: 1;
    border-radius: 4px;
    float: right;
    transform: translate(0,47px) !important;
}