
.jimu-widget-demo .layerDiv{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: #333333;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.jimu-widget-demo .layerDiv:hover{
  background-color: #e9eae9;
}

.claro .dijitProgressBar {
    margin: 2px 10px 2px 10px !important;
}

.jimu-widget-demo .center {
    position: absolute;
    right: 50%;
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    width: 60px;
    height: 50px;
}

.jimu-widget-demo .attLink {
    position: absolute;
    right: 0px;
}

.jimu-widget-demo .topInfo {
  height: 60px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-bottom-width: medium;
}
