.grp-widget h3 {
  font-size: 1.2em;
}
.grp-widget h3, p {
  margin-top: 0;
}
.dijitHidden {
  position: absolute;
  visibility: hidden;
  /*height: 0;*/
}
.claro .tabStripButton {
  height: 24px !important;
}
.jimu-widget-frame.jimu-container {
  overflow-y: hidden;
}
.dijitTabContainerTop-container {
  height: 100%;
  overflow-y: auto;
}
