.layerDiv {
    padding: 10px 5px 10px 5px;
    border-bottom: #333333;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.layerDiv:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.progress-bar-track {
    height: 26px !important;
    background-color: red !important;
    border-radius: 13px 13px !important;
}

div.jimu-progress.progress.progress-primary.progress-linear.fireProgress > div.progress-bar-track > div {
    border-top-left-radius: 13px 13px !important;
    border-bottom-left-radius: 13px 13px !important;
}


.report-button {
    outline: none;
    float: right;
}

.fireNameTxt {
    font-weight: bold;
    font-size: larger;
    max-width: 250px;
    margin-bottom: 5px;
}

div[role=dialog][aria-modal=false] {
    inset: 0 0 auto auto !important;
    width: 360px;
    height: auto;
    padding: 0;
    margin: auto;
    z-index: 5;
    position: absolute;
    opacity: 1;
    border-radius: 4px;
    float: right;
    transform: translate(0, 47px) !important;
}
