
td.quantity {
    text-align: right;
    padding-left: 10px;
}

td.nested {
    padding-left: 10px;
}


tr > td.quantity {
    padding-left: 10px !important;
}

#badLocations {
    margin-bottom: 36px;
}
