
.jimu-widget-fire .layerDiv {
  padding: 10px 5px 10px 5px;
  border-bottom: #333333;
  border-bottom-style: solid;
  border-bottom-width: thin;
  /*font-weight: bold;*/
}

.jimu-widget-fire .layerDiv:hover {
  background-color: #e9eae9;
}

.jimu-widget-fire .fireNameTxt {
  font-weight: bold;
  font-size: larger;
  max-width: 250px;
  margin-bottom: 5px;
}

.claro .dijitProgressBar {
  margin: 5px 10px 5px 10px !important;
  border-radius: 20px;
  height: 25px;
}

.claro .dijitProgressBarFull {
  height: 25px;
  border: 0px solid #f79400;
}

.claro .dijitProgressBarLabel {
  font-size: medium;
  color: #ffffff !important;
  margin-top: 1px;
}

.claro .dijitProgressBarEmpty {
  background-color: #ca0000;
  border-color: white;
}

.claro .dijitProgressBarTile {
  background-color: #0d71bc;
  background-image: none;

}

.jimu-widget-fire .center {
  position: absolute;
  right: 50%;
  border: black;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 60px;
  height: 50px;
}

.jimu-widget-fire .left {
  position: absolute;
  left: 0px;
  border: black;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 80px;
  height: 60px;
}

.jimu-widget-fire .attLink {
  position: absolute;
  right: 5px;
}

.jimu-widget-fire .zoomLink {
  position: absolute;
  right: 5px;
  top: 30px;
}

.jimu-widget-fire .topInfo {
  /*height: 70px;*/
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-bottom-width: medium;
  padding-bottom: 10px;
}

.jimu-widget-fire .summryNum {
  position: absolute;
  top: 5%;
  left: 25%;
  font-size: xx-large;
  font-weight: bold;
}

.jimu-widget-fire .labelText {
  position: absolute;
  bottom: 0px;
}

.jimu-widget-fire .discliamerText {
  font-size: 14px;
}

.jimu-widget-fire .acresTxt {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-fire .search-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: 29px;
  background-image: url("../images/search_normal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.jimu-widget-fire .search-button:focus {
  /*outline: 2px solid #24B5CC !important;*/
}

.jimu-widget-fire .search-button:hover {
  background-image: url("../images/search_hover.svg");
}

.jimu-widget-fire .report-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: 2px;
  background-image: url("../images/operation_normal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.jimu-widget-fire .report-button:focus {
  /*outline: 2px solid #24B5CC !important;*/
}

.jimu-widget-fire .report-button:hover {
  background-image: url("../images/operation_hover.svg");
}

.jimu-widget-fire .containedLegend {
  background-color: #0d71bc;
  width: 15px;
  height: 15px;
}

.jimu-widget-fire .notcontainedLegend {
  background-color: #ca0000;
  width: 15px;
  height: 15px;
}

.jimu-widget-fire .customLegend > div {
  vertical-align: top;
  display: inline-block;
  margin: 3px;
  font-size: 14px;

}


/*for toggle slider*/
/*U+1F984*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

}


.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #0d71bc;
}


input:focus + .slider {
  box-shadow: 0 0 1px #0d71bc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
